<figure class="bilderpool-thumbnail">
   {{ if (and .collIcon .collLink .collTitle) }}
      <div class="tooltip" style="width: 100%; height: 1.6rem; text-align: left;">
         <a href="{{ .collLink }}" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{if eq .collIcon "pics" }}
               <i class="far fa-images" style="color: var(--MAIN-TEXT-color);"></i>
            {{ end }}
            {{if eq .collIcon "cat" }}
               <i class="fas fa-book" style="color: var(--MAIN-TEXT-color);"></i>
            {{ end }}
            {{ .collTitle }}
         </a>
         <span class="tooltiptext">
            {{.collTitle}}
            <br/>
            {{ if .anum }}
               <i class="fas fa-book"></i> {{ .anum }}
               {{ if or .gnum .pnum }}
                  <i style="padding-right: 1rem;"></i>
               {{ end }}
            {{ end }}
            {{ if .gnum }}
               <i class="far fa-images"></i> {{ .gnum }}
               {{ if .pnum }}
                  <i style="padding-right: 1rem;"></i>
               {{ end }}
            {{ end }}
            {{ if .pnum }}
               <i class="fas fa-camera"></i> {{ .pnum }}
            {{ end }}
         </span>
      </div>
   {{ end }}
   <a href="{{ .link }}">
      <img src="{{ .image }}">
   </a>
   <figcaption style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.4em">
      {{ .caption }}
      {{ if .datum }}
         <br/>{{ .datum }}
      {{ end }}
   </figcaption>
</figure>
