{{ define "main" }}

   {{ $date_format_string := "02.01.2006" }}

   {{ $maxChars := 44 }}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

      <div id="body-inner">
            <h1>{{.Title}}</h1>

         {{ .Content }}
         {{ $downloads := false }}
         {{ range .Pages }}
            {{ if eq .Layout "file" }}
               {{ $downloads = true }}
            {{ end }}
         {{ end }}
         {{ if $downloads }}
            <table>
               <thead>
                  <tr>
                     <th style = "text-align: center">Bezeichnung</th>
                     <th style = "text-align: center">Autor</th>
                     <th style = "text-align: center;"><i class="fas fa-download"></i></th>
                     <th style = "text-align: center">Datum</th>
                  </tr>
               </thead>
               <tbody>
                  {{ range .Pages.ByTitle.Reverse }}
                     {{ if eq .Layout "file" }}
                        {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
                        {{/* --- Check all mandatory field entries are available --- */}}

                        {{ if not .Params.title }}
                           {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
                        {{ end }}

                        {{ $fname := .Params.file }}
                        {{ if not $fname }}
                           {{ errorf "Oh oh, der Dateiname 'file' fehlt oder ist leer in Seite %q" .Path }}
                        {{ end }}

                        {{ $uploadDate := .Params.date }}
                        {{ if not $uploadDate }}
                           {{ errorf "Oh oh, das Hochladedatum 'date' fehlt oder ist leer in Seite %q" .Path }}
                        {{ end }}

                        {{ if .Params.imported }}
                           {{ if not .Params.legacy_id }}
                              {{ errorf "'legacy_id' fehlt für Seite %q. Wenn der Eintrag importiert wurde, muss auch eine Legacy-ID vorhanden sein!" .Path }}
                           {{ end }}
                        {{ end }}

                        {{/* --- Lies ein was sonst noch benötigt wird --- */}}
                        {{/* --- Read additional data --- */}}

                        {{ $authorsCount := 0 }}
                        {{ $authors := .Params.konstrukteure }}
                        {{ if $authors }}
                           {{ $authorsCount = len $authors }}
                        {{ end }}

                        {{ $uploaderCount := 0 }}
                        {{ $uploader := .Params.uploadBy }}
                        {{ if $uploader }}
                           {{ $uploaderCount = len $uploader }}
                        {{ end }}

                        {{/* --- Spezialbehandlung für Altlasten aus den Anfängen der ftc --- */}}
                        {{/* --- Special handling of legacy ftc problem sites --- */}}

                        {{ if eq $uploader (slice "-LegacyAdmin-") }}
                           {{ $uploaderCount = 0 }}
                        {{ end }}

                        {{ if eq $authors (slice "-?-") }}
                           {{ $authorsCount = 0 }}
                        {{ end }}

                        <tr>
                           <td>
                              <a
                                 href="{{ .RelPermalink }}"
                                 style = "color: Black;"
                              >
                              {{ .Summary | safeHTML | truncate $maxChars }}</a>
                           </td>
                           <td style = "text-align: left">
                              {{ partial "authors-list.html" . }}
                           </td>
                              <td style = "text-align: center;">
                                 <a href="{{ .Params.file }}">
                                    <img
                                       src = "{{ $.Site.BaseURL }}images/{{ partial "download-icon.html" . }}"
                                       alt = "{{ partial "download-icon.html" . }}"
                                       style = "display: block; width: 3em; margin: 0 auto 0 auto;"
                                    >
                                 </a>
                                 {{ partial "download-size.html" . }}
                              </td>
                           <td style = "text-align: center">{{ dateFormat $date_format_string .Params.date }}</td>
                        </tr>
         {{/*        {{ else if eq .Layout "wiki" }} */}}
         {{/*           <h4 id="{{ .Title }}">&#x1F4C3; {{ .Title }}</h4> */}}
         {{/*           <a href="{{ .RelPermalink }}">Weiterlesen</a> */}}
         {{/*        {{ else }} */}}
         {{/*           <p>Hoppla, hier fehlt die Ansichtsdefinition für das Layout {{ .Layout }}!</p>  <= errorf wär besser! */}}
                     {{ end }}
                  {{ end }}
               </tbody>
            </table>
         {{ end }}

      </div> 
   </div>

{{ end }}
