{{ define "main" }}

   {{ $date_format_string_long := "2.1.2006, 15:04:05" }}
   {{ $date_format_string_short := "2.1.2006" }}
   {{ $maxChars := 200 }}
   {{ $maxAgePics := now.AddDate  0 -3  0 }}
   {{ $maxAgeKh := now.AddDate   -1  0  0 }}
   {{ $maxAgeFtp := now.AddDate   0 -3  0 }}
   {{ $maxThumbs := 100 }}
   {{ $minThumbs := 4 }}
   {{ $thumbnailFile := "thumbnail.jpg" }}
   {{ $indexPage := "gallery-index" }}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

            <div id="body-inner">
         {{if (not .Params.chapter) }}
            <h1>{{.Title}}</h1>
         {{end}}


{{/* ------------------------------ Prolog -------------------------------*/}}

         {{ .Content }}


{{/* --------------------------- Bildersammlung --------------------------*/}}

         {{ $imageSections := where .Site.Pages "Section" "bilderpool" }}
         {{ $images := where $imageSections ".Params.layout" "==" "image" }}
         {{/* --- Zuerst mal nehmen wir nur die Bilder der letzten Zeit --- */}}
         {{ $usefulimages := where $images ".Date" "ge" $maxAgePics }}
         {{/* --- Davon akzeptieren wir nur Eins je Galerie --- */}}
         {{ $usedimages := slice }}
         {{ $usedgaleries := slice }}
         {{ range $usefulimages.ByDate.Reverse }}
            {{ if and (lt (len $usedgaleries) $maxThumbs) (not (in $usedgaleries .Parent)) }}
               {{ $usedimages = $usedimages | append . }}
               {{ $usedgaleries = $usedgaleries | append .Parent }}
            {{ end }}
         {{ end }}
         {{/* --- Wenn es weniger als $minThumbs Funde gibt, ... --- */}}
         {{ if lt (len $usedgaleries) $minThumbs }}
            {{/* --- ... umgehen wir die Altersbeschränkung und ergänzen --- */}}
            {{/* --- um 250 Bilder je fehlendem thumbnail --- */}}
            {{ $usefulimages = last (mul (sub $minThumbs (len $usedimages)) 250) (complement $usefulimages ($images.ByDate)) }}
            {{ $maxThumbs = $minThumbs }}
            {{ range $usefulimages.ByDate.Reverse }}
               {{ if and (lt (len $usedgaleries) $maxThumbs) (not (in $usedgaleries .Parent)) }}
                  {{ $usedimages = $usedimages | append . }}
                  {{ $usedgaleries = $usedgaleries | append .Parent }}
               {{ end }}
            {{ end }}
         {{ end }}
         {{/* --- Auf die Art kommt garantiert wenigstens 1 Galerie --- */}}
         {{/* --- auf die Seite => Minimalinhalt! --- */}}

         <h4>Aktuellste Bilder nach Galerien sortiert</h4>
         {{ range $usedimages }}
            {{ $collectionTitle := .Parent.Title }}
            {{ $collectionLink := printf "%s%s" .Parent.RelPermalink $indexPage }}
            {{ $uploadDate := dateFormat $date_format_string_long .Params.Date }}
            {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink $thumbnailFile) "caption" .Title "collTitle" $collectionTitle "collLink" $collectionLink "collIcon" "pics" "pnum" (len (where .Parent.Pages "Layout" "eq" "image")) "datum" $uploadDate) }}
         {{ end }}


{{/* -------------------------- KnowHow-Bereich --------------------------*/}}

         {{ $knowhows := where .Site.RegularPages "Section" "knowhow" }}
         {{ $knowhows = where $knowhows ".Date" "ge" $maxAgeKh}}
         {{ $knowhows = last 20 $knowhows.ByDate }}
         {{/* --- Nur bei Bedarf im Angebot --- */}}
         {{ if $knowhows }}
            <h4>Neuheiten beim Know-How</h4>
            {{ range $knowhows.Reverse }}
               <h5>
                  {{ if eq .Layout "file" }}
                     <a href = "{{ .RelPermalink }}"><i class="fas fa-download"></i></a>
                  {{ else if eq .Layout "wiki" }}
                     <a href = "{{ .RelPermalink }}"><i class="fas fa-book-reader"></i></a>
                  {{ end }}
                  -
                  <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
               </h5>
               <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
               <small>Hochgeladen am {{ dateFormat $date_format_string_short .Params.Date }}</small><br/>
               <a href = "{{ .RelPermalink }}">Anschauen</a>
            {{ end }}
         {{ end }}


{{/* ------------------------------ ft:pedia -----------------------------*/}}

         {{ $dazus := where .Site.RegularPages "Section" "ftpedia" }}
         {{ $dazus = where $dazus ".Date" "ge" $maxAgeFtp}}
         {{/* $dazus = first 20 $dazus.ByDate */}}
         {{/* --- Nur bei Bedarf im Angebot --- */}}
         {{ if $dazus }}
            <h4>ft:pedia Downloads zur aktuellen Ausgabe</h4>
            {{ range $dazus.Reverse }}
               <h5>
                  <a href = "{{ .RelPermalink }}"><i class="fas fa-download"></i></a>
                  -
                  <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
               </h5>
               <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
               <small>Hochgeladen am {{ dateFormat $date_format_string_short .Params.Date }}</small><br/>
               <a href = "{{ .RelPermalink }}">Anschauen</a>
            {{ end }}
         {{ end }}

      </div>
   </div>

{{ end }}
