{{with .Site.Menus.shortcuts}}
   <section id="shortcuts">
      <h3>{{ T "Shortcuts-Title"}}</h3>
      <ul>
         {{ range sort . "Weight"}}
            <li>
               {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
            </li>
        {{end}}
      </ul>
   </section>
{{ end }}
