{{ $date_format_string := "02.01.2006" }}

{{ $ftpSectionAll := where .Site.Pages "Section" "ftpedia" }}
{{ $ftps := where $ftpSectionAll ".Layout" "issue" }}
{{ $ftps = append $ftps (where $ftpSectionAll ".Layout" "teaser") }}
{{ range last 1 $ftps.ByDate }}
   <figure style="margin-left: 16px; width: max-content; text-align: center;">
      <a href="{{- .RelPermalink -}}">
         <img src ="{{- .RelPermalink -}} titelseite.png" alt = "Aktuelle Ausgabe">
      </a>
      <br/>
      <a href="{{- .RelPermalink -}}">
         <small>
            ft:pedia {{ .Title -}}
            {{- if .Params.launchDate -}}
               <br/>erscheint am<br/>{{dateFormat $date_format_string .Params.launchDate}}
            {{- else }}
               ist da!
            {{- end -}}
         </small>
      </a>
   </figure>
{{ end }}
