{{ define "main" }}
{{ $date_format_string := "02.01.2006" }}
{{ $maxAge := now.AddDate  0 -9  0 }}
  <div class="padding highlightable">
      <div id="body-inner">
        <span id="sidebar-toggle-span">
          <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
            <i class="fas fa-bars"></i> Navigation
          </a>
        </span>

        {{.Site.Home.Content}}  
          <div>
            <div class="announcement">
              {{/* Die nächste Veranstaltung */}}
            {{ $fansSections := where .Site.Pages "Section" "fans" }}
            {{ $events := where $fansSections ".Params.termin" "!=" nil }}
            {{ $futur := slice }}
            {{ range $events }}
                {{ if (time (.Params.termin)).After now }}
                    {{ $futur = $futur | append  . }}
                {{ end }}
            {{ end }}
            {{ if gt (len $futur) 0 }}
                {{ range first 1 ($futur.ByParam "termin") }}
                    <b>{{ dateFormat $date_format_string .Params.termin }}</b> <a href="{{- .Permalink -}} ">{{ .Title }}</a> {{ .Params.location }}
                    <a href="{{- .Permalink -}} ">
                      <img src ="fans/veranstaltungen/{{ .Params.flyer }}" width="432" alt="Flyer" >
                    </a>
                {{ end }}
            {{ else }}
                {{ $treffen := where (.Site.GetPage "/bilderpool/veranstaltungen").Sections ".Params.layout" "==" "overview" }}
                {{ range first 1 ($treffen.ByParam "date").Reverse }}
                {{/* Wenn die letzte Veranstaltung weniger als 9 Monate zurück liegt */}}
                {{ if gt .Date $maxAge }}
                    <b>Von unserer letzten Veranstaltung</b><p><a href="{{- .Permalink -}} ">{{ .Title }}</p>
                    {{ range first 1 .Pages }}
                        {{ $original := .Resources.GetMatch .Params.picture }}
                        {{ $bild := $original.Resize "432x" }}
                        <img src = "{{ $bild.RelPermalink }}" alt="Bild" ></a>
                    {{ end }}
                {{ else }}
                   {{/* Ein zufälliges Bild */}}
                    <b>Aus unserem Bilderpool</b>
                    {{ $angebot := where .Site.Pages "Section" "bilderpool" }}
                    {{ $angebot = where $angebot "Layout" "image" }}
                    {{ range first 1 (shuffle $angebot) }}
                        <p><a href="{{- .Permalink -}} ">{{ .Title }}</p>
                        {{ $original := .Resources.GetMatch .Params.picture }}
                        {{ $bild := $original.Resize "432x" }}
                        <img src = "{{ $bild.RelPermalink }}" alt="Bild" ></a>
                    {{ end }}

                {{ end }}
                {{ end }}
            {{ end }}

            </diV>

     
            <div class="announcement">
            {{ $imageSections := where .Site.Pages "Section" "bilderpool" }}
            {{ $images := where $imageSections ".Params.layout" "==" "image" }}
            {{ range first 1 ($images.ByParam "date").Reverse }}
                    <b>Neu im Bilderpool</b><p><a href="{{- .Permalink -}} ">{{ .Title }}</p>
                    {{ $original := .Resources.GetMatch .Params.picture }}
                    {{ $bild := $original.Resize "432x" }}
                    <img src = "{{ $bild.RelPermalink }}" alt="Bild" ></a>
            {{ end }}

            </div>
          </div>
        <p></p>
         <div>
            <div class="announcement">
                    <b>Aus unserem Bilderpool</b>
                    {{ $angebot := where .Site.Pages "Section" "bilderpool" }}
                    {{ $angebot = where $angebot "Layout" "image" }}
                    {{ range first 1 (shuffle $angebot) }}
                        <p><a href="{{- .Permalink -}} ">{{ .Title }}</p>
                        {{ $original := .Resources.GetMatch .Params.picture }}
                        {{ $bild := $original.Resize "432x" }}
                        <img src = "{{ $bild.RelPermalink }}" alt="Bild" ></a>
                    {{ end }}
            </div>
            <div class="announcement">
                    <b>Aus unserem Bilderpool</b>
                    {{ $angebot := where .Site.Pages "Section" "bilderpool" }}
                    {{ $angebot = where $angebot "Layout" "image" }}
                    {{ range first 1 (shuffle $angebot) }}
                        <p><a href="{{- .Permalink -}} ">{{ .Title }}</p>
                        {{ $original := .Resources.GetMatch .Params.picture }}
                        {{ $bild := $original.Resize "432x" }}
                        <img src = "{{ $bild.RelPermalink }}" alt="Bild" ></a>
                    {{ end }}
            </div>
         
        </div>
    </div>
  </div>
{{ end }}

