{{ define "main" }}

   <script language="javascript" type="text/javascript">
<!--
function sortTable(table, col, reverse) {
// -- This is the version with the 'abstract' as a separate column -- //
//  var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
//      tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
//      i;
//  reverse = -((+reverse) || -1);
//  tr = tr.sort(function (a, b) { // sort rows
//      return reverse // `-1 *` if want opposite order
//          * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
//              .localeCompare(b.cells[col].textContent.trim())
//             );
//  });
//  for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order

// -- This is the version with the 'abstract' on its own row -- //
//    Get just the body of the table, no header, no footer.
//    Generate an empty array for all entries to sort.
//    Define an index counter.
//    Loop through each bundle of rows (currently a pair of rows) and attach
//    this bundle of rows as one entry to the array of entries.
//    Adjust the sorting direction.
//    Sort all entries by the desired column field. This field is contained in
//    the first part of the bundle (index = 0).
//    Loop through the result of entries and regenerate the sorted table
//    content.
   var tb = table.tBodies[0];
   var entries = [];
   var i;
   for (i = 0; i < tb.rows.length; i = i + 2) {
      var bundle = [];
      bundle.push(tb.rows[i]);
      bundle.push(tb.rows[i+1]);
      entries.push(bundle);
   }
   reverse = -((+reverse) || -1);
   entries = entries.sort(function (a, b) {
      return reverse * (a[0].cells[col].textContent.trim() .localeCompare(b[0].cells[col].textContent.trim()));
   });
   for (i = 0; i < entries.length; i = i + 1) {
      tb.appendChild(entries[i][0]);
      tb.appendChild(entries[i][1]);
   }
}

function makeSortable(table) {
    var th = table.tHead, i;
    th && (th = th.rows[0]) && (th = th.cells);
    if (th) i = th.length;
    else return; // if no `<thead>` then do nothing
    while (--i >= 0) (function (i) {
        var dir = 1;
        th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
    }(i));
}

function makeAllSortable(parent) {
    parent = parent || document.body;
    var t = parent.getElementsByTagName('table'), i = t.length;
    while (--i >= 0) makeSortable(t[i]);
}

window.onload = function () {
    makeAllSortable();
};


-->
   </script>

   <div class="padding highlightable"  style="overflow: scroll;">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         <h2>{{.Title}}</h2>
         {{ .Content }}
         <table id="ftptoc">
            {{ $data := (getCSV ";" "content/ftpedia/ftPedia_Artikeluebersicht.csv") }}
            <thead>
               <tr>
                  {{ $header := first 1 $data }}
                  {{ range $row := $header }}
                     <th style="cursor:n-resize;">{{ index $row 0 }}<!--<i class="fas fa-arrows-alt-v"></i>--></th>
                     <th style="cursor:n-resize;">{{ index $row 1 }}</th>
                     <th style="cursor:n-resize;">{{ index $row 2 }}</th>
                     <th style="cursor:n-resize;">{{ index $row 3 }}</th>
                     <th style="cursor:n-resize;">{{ index $row 4 }}</th>
                  {{end}}
               </tr>
            </thead>
            <tbody>
               {{ $body := after 1 $data }}
               {{ range $row := $body }}
                  <tr>
                     <td {{/* if gt (len (index $row 5)) 0 */}} rowspan="2" {{/* end */}}>
{{/* &#8211; <= das ist ein En Dash was da zwischen den Seitenzahlen steht!!! Bei der Ausgabe sieht es aus wie harmloses Minus. */}}
{{/* hugos String Schneiderei string.TrimRight ist mit nicht-alphanumerischen Zeichen überfordert, aber replace geht GSD. */}}
{{/* Also zuerst den En Dash gegen ein anderes Zeichen tauschen und dann den String schneiden. */}}
{{/* replaceRE tauscht zuverlässig. */}}
{{/* string.TrimRight hat aber auch mit allen anderen nicht-alphanumerischen Zeichen keine Lust! */}}
{{/* Selbst '5-9' => '5a9' und string.TrimRight "a" ... liefert dann '59' bäh! */}}
{{/* findRE sieht ja eigentlich noch besser aus als replaceRE und kann ganz universell filtern. */}}
{{/* Leider sind da dann (noch) die eckigen Klammern '[' und ']' drumherum, die per delimit rausgeworfen werden müssen :( */}}
{{/* Immerhin ist Dank dieser Aktion jetzt auch sofort die Zeile für Extraktion "Jahr" aus "Ausgabe" bekannt :) */}}
                        {{/* index $row 0    enthält die Ausgabe im Stile '2018-3'. */}}
                        {{/* index $row 3    enthält den Titel des Artikels. */}}
                        {{/* index $row 4    enthält die Seitenzahlen im Stile '5-33'. */}}
                        {{ $Ausgabe := index $row 0 }}
                        {{ $Jahr := delimit (findRE "^[0-9]*" $Ausgabe) " " }}
                        {{ $Seite := delimit (findRE "^[0-9]*" (index $row 4)) " " }}

                        <a
                           href = "{{- $.Site.BaseURL -}}ftpedia/{{- $Jahr -}}/{{- $Ausgabe -}}/ftpedia-{{- $Ausgabe -}}.pdf#page={{- $Seite -}}">
                           {{ $Ausgabe }}
                        </a>

                     </td>
                     <td>{{ index $row 1 }}</td>
                     <td>{{ index $row 2 }}</td>
                     <td>{{ index $row 3 }}</td>
                     <td>{{ index $row 4 }}</td>
                  </tr>
                  {{/* if gt (len (index $row 5)) 0 */}}
                     <tr>
                        <td colspan="4">
                           {{if gt (len (index $row 5)) 0}}
                              <small><i>{{index $row 5}}</i></small></td>
                           {{else}}
                              -
                           {{end}}
                     </tr>
                  {{/* end */}}
               {{ end }}
            </tbody>
         </table>
      </div>
   </div>
{{ end }}


